.html{
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
@font-face{
    font-family: Pass;
    src:url(Pass_A38.woff2);
}
body {
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-family: Pass, Verdana, sans-serif;
    letter-spacing: 0px;
    box-sizing: border-box;
    margin:0;
    padding:0;
    height: 100vh;
    overflow-x: hidden;
}
    /* Default link color */
a{
    color: rgb(255, 255, 255); /* Change to your desired color */
    text-decoration: none;
    
}

/* Visited link color */
a:visited {
    color: rgb(222, 194, 226); /* Change to your desired color */
}

#skatelligenceLogoImg {
    margin: 0px 0px 3px 10px;
}

/*display navigation horizontally accross top of screen*/
.nav li {
    display: inline-block;
    align-items: center;
    font-size: 14px;
    margin-left: 0px; /* Adjust spacing as needed */   
}
.sidebar li{
    margin-bottom: 60px;
}

.headNav a{
    color: white;
}
.headNav a:visited{
    color:rgb(38, 5, 43)
}
.nav a{
    padding: 24px 15px 24px 15px;
    height:100%;
}

.nav li :hover{
    background-color:#5c556d
}

#header {
    width: 100%;
    margin: 0;
    padding: 10px 0; /* Optional padding for content inside header */
    box-sizing: border-box;
    background-color: white;
}
.navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px;
    color: white;
    font-family: Verdana, sans-serif;
    justify-content: flex-start;
    box-shadow: -5px 0 5px rgba(0, 0, 0.1);
    position: fixed;
    z-index: 999;
}
.sidebar{
    position: fixed;
    top:0;
    right:0;
    height: 100vh;
    width: 250px;
    backdrop-filter: blur(10px);
    z-index: 11;
    background-color: rgba(43, 13, 78, 0.9);
    box-shadow: -10px 0 10px rgba(0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width:100%;
}

.sidebar a{
    width:100%;
}
.model-text{/* text on rectangles in sktelligence model rectangles*/
    margin-left: 10px;
    margin-right: 10px;
}
#graph-image{
    transform: translateY(-50px);
}
#graph-text{
    transform: translateY(-90px)
}
#overview{
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
#overview-image{
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: auto;
}
.top-triangle{
    width:0;
    height: 0;
    border-left: 100vw solid transparent;
    border-bottom: 7vw solid #45288a;
}
.bottom-triangle{
    width:0;
    height: 0;
    border-right: 100vw solid transparent;
    border-top: 7vw solid #45288a;
}
.footer{
    background-color: #150a30;
    padding-top: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
}
.footer li{
    display: block;
    margin-bottom: 5vh;
    padding: 0px;
}
.footNav a{
    color: white;
}
.footNav{
    font-size: 14px;
}

.padder{
    height: 15vh;
}

.container{ /*container for main title page animation*/
    text-align:center;
    font-size: 50px;
    transform: translate(0%,25vh);
    height: 80vh;
}
.container span{
    display: block;
}

#text1 { 
    font-weight: 600;
    letter-spacing: 8px;
    margin-bottom: 20px;
    position: relative;
    animation: text1 3s 1;
    color: white;
}
#text2 {
    color: #f3e8fa;
    margin-bottom: 150px;
    animation: text2 3s 1;
}

.containerMedia {
    margin-top: 21vh;
    visibility: hidden;
    margin-bottom: 30vh;
    max-width: 100%; /* Ensure image does not exceed container width */
    max-height: auto; /* Maintain aspect ratio */
    display: block; /* Remove inline space around the image */
    box-sizing: border-box; /* Include padding and border in width calculation */
    animation: titleMedia 3s 1;
    z-index:0;
}

/*make title text and media side by side using flex*/
.flex-container {
    display: flex;
    background-image: url('waves-7111758_1920.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Keeps the background image fixed */
    position: relative;
    height: 80vh;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    z-index:-2;
}
.flex-container::before {
    content: "";
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.7);
    z-index:-1;
}

#skatelligenceModel {
    text-align: center;
    color: #f3e8fa;
    background: #45288a;
    padding: 5vh 0vh 5vh;
    align-content: center;
}

/*rounded rectangles to show off features and overview of how it works*/
.roundedRectangle {
    padding-top: 3vh;
    display: flex;
    flex-wrap: wrap;
    gap: 50px; /* gap between each rectangle*/
}
.rectangle { /* rounded rectangle*/
    margin: auto;
    border-radius: 25px;
    background: #f3e8fa;
    box-shadow: 3px 3px 3px grey;
    width: 300px;
    height: 400px;
    color: black;
    /*start with rectangles invisible and slightly lower*/
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}
    .rectangle.visible { /*once rectangle is set to visible, gradually make opaque and slide down*/
        opacity: 1;
        transform: translateY(0);
    }

    /*delay for each rectangle left to right*/
    .rectangle:nth-child(1).visible {
        transition-delay: 0s;
    }

    .rectangle:nth-child(2).visible {
        transition-delay: 0.2s;
    }

    .rectangle:nth-child(3).visible {
        transition-delay: 0.4s;
    }

    .rectangle:nth-child(4).visible {
        transition-delay: 0.6s;
    }

    .rectangle:nth-child(5).visible {
        transition-delay: 0.8s;
    }

    #promoDemo{
        display: block;
        margin:auto;
        padding-top: 300px;
        border: none;
    }
/*animation for text 1, stretch text then back in*/
@keyframes text1 {
    0% {
        margin-bottom: -70px;
    }

    45% {
        letter-spacing: 15px;
        margin-bottom: -70px;
    }

    65%{
        letter-spacing: 8px;
        margin-bottom: -70px;
    }
    100%{
        margin-bottom: 20px;
    }
}


/*animation for text 2 come out from text 1*/
@keyframes text2{
    0%{
        font-size: 0px;
    }
    67%{
        font-size:0px;
    }
    68%{
        font-size:50px;
    }
    100%
    {
        font-size:50px;
    }
}

/*have media appear after text*/
@keyframes titleMedia{
    0%{
        opacity: 0%
    }
    70%{
        opacity: 0%
    }
    100%{
        opacity: 100%
    }
}

@media (min-width: 950px) {
    .flex-container {
        flex-direction: row; /* Align items side by side */
        justify-content: space-between; /* Distribute space evenly */
        margin: 0;
    }
    .containerMedia {
        visibility: visible;
        width: 35%; /* Adjust width for side-by-side layout */
        margin-bottom: 35vh;
    }
    .container {
        width: 65%; /* Adjust width for side-by-side layout */
    }
}
@media(min-width: 730px){
    #overview-image{
        max-width: 50%
    }
    .overview-section{
       display: flex;
       align-items: center;
    }
}
/* Slider container */
.slider-container {
    background: rgb(170,224,237);
    background: linear-gradient(90deg, rgba(170,224,237,1) 0%, rgba(61,159,196,1) 46%, rgba(137,129,217,1) 100%);
    padding-top: 10vh;
    padding-bottom: 10vh;
    position: relative;
    max-width: 90%;
    width: 100%;
    overflow: hidden;
    height: 50vh;
    margin: 0 auto;
    display: flex;
    align-items: center; /* Center image vertically if it's smaller than the container */
    justify-content: center; /* Center image horizontally */
}

/* Slides */
.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.slide {
    min-width: 100%; /* Each slide takes full width */
    height: 100%;
    transition: opacity 0.5s ease-in-out;
}

 .slide img {
     max-width: 100%;
     max-height: 100%;
     width: auto;
     height: auto;
     object-fit: contain;
     display: block;
     margin: auto;
    }

/* Navigation buttons */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(0%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    font-size: 18px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
.hideOnMobile a{
    color: black;
}

@media (max-width: 768px) {
    .prev, .next {
        padding: 5px;
        font-size: 14px;
    }
}

@media (max-width: 861px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media (max-width: 400px){
    .sidebar{
        width: 100%;
    }
}

@media (min-width: 862px){
    .menu-button{
        display: none;
    }
}

.menu-button{
    height: 100%;
    transform: translateY(-4px);
}